{{define "indexPage"}}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <link rel='shortcut icon' href='includes/favicon.ico' type='image/x-icon'/ >
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <!--<link rel="stylesheet" href="styles/reset.css" />-->
        <link rel="stylesheet" href="styles/main.css" />
        <script src="includes/jquery-2.2.3.min.js"></script>
        <script>
            $(document).ready(function() {                           
                $(".repthis").click(function() {         
                    $(this).hide();                      
                    $(this).next("span").show();         
                });                                      
                $(".expander").click(function() {        
                    $(this).next(".expandable").toggle();
                });                                      
            });
        </script>
        <title>{{.Title}}</title>
	</head>
    <body class="card">
		<h1><img src="includes/logo.png" alt="Shabad OS" />Shabad OS</h1>
		<h2>Overview</h2>
			<img src="includes/live-search.gif" alt="Search Examples" style="float: right; padding-left: .75em;" />
            <p>This program replicates many functions of SikhiToTheMax. It is many times faster at searching, displaying, and navigating most shabads. New features, unavailable in other apps, include: Showing the next line on the display; Automatically selecting the repeated lines and the rest of the shabad; and, Controlling or duplicating the program on smartphones, tablets, and laptops over the same network/wifi.</p>
		<h2>Latest</h2>
			<p><a href="updates/win/Shabad OS Setup 17.6.28.exe">Download</a> (Windows will ask you to accept firewall traffic, please allow it for full functionality)</p>
            <p><b>Change Log</b></p>
            <ul>

                <li class="expander">17.6.28</li>
                <ul class="expandable">
                	<li>Fixed database for shabads incorrectly using nbsp; instead of normal space character. This fixes some long english translations from being only one line scrolling off the screen.</li>
            	</ul>

                <li class="expander">17.3.24</li>
                <ul class="expandable">
                	<li>Fixed Ctrl+left,right,up,down hotkeys.</li>
                	<!--<li>Fixed english translations from overflowing the screen in Bhai Gurdas Ji's bani.</li>-->
                	<li>Fixed scrolling to the correct line of Asa Di Var when using the back arrow/hotkey as opposed to the Bani/History methods.</li>
                	<li>Added shortcut hints to title when hovering over icons.</li>
                	<li>Edited a shabad to match the Amrit Kirtan version. Original version can be found in iGurbani database. Here are the before and after versions of the first line changed:</li>
                	<ul>
                		<li><span class="gurbani">pUCq pQik iqh mwrg n DwrY pig pRIqm kY dys kYsy bwqnu ky jweIAY</span></li>
                		<li><span class="gurbani">pUCq piQk iqh mwrig n DwrY pig pRIqm kY dys kYsy bwqn sy jweIAY</span></li>
            		</ul>
                	<li>Changed the gap between icons at the bottom-right of the navigator so it won't look as if an icon is missing.</li>
                	<li></li>
            	</ul>

                <li class="expander">History</li>
                <ul class="expandable">

	                <li class="expander">17.2.9</li>
	                <ul class="expandable">
	                	<li>Small feature adding left and right arrow keys to mimic up and down arrow keys for changing lines. This should help on laptops with smaller up/down keys than left/right. Also should help those that are familiar with PowerPoint Presentations for switching slides.</li>
	                	<li>Search queries are saved when using the top-left arrows or ctrl+left/right arrow keys.</li>
	                	<li>Fixed a memory leak that caused crashes during prolonged use.</li>
	            	</ul>

	                <li class="expander">16.12.3</li>
	                <ul class="expandable">
	                	<li>Small fix for low resolution laptops (1024x768 and lower).</li>
	            	</ul>

                    <li class="expander">16.11.10</li>
                    <ul class="expandable">
                    	<li>Added a font slider to the settings menu.</li>
                	</ul>

                    <li class="expander">16.11.4</li>
                    <ul class="expandable">
                    	<li>Vastly improved UI with custom titlebars, new color scheme, icons, and scrollbars. Improved UX with hints for keyboard shortcuts (when controller is hidden), hovering over menu items, and short animations for orientation during jumps.</li>
                    	<li>Organized all shortcuts under the ctrl key, except for the simple "?" hotkey. Type shift+/ on your keyboard to see some available shortcuts. Still in the process of documenting them all.</li>
                    	<li>Mouse only users will benefit from the many new controls implemented. Aside from searching, most features should now be available with a trackpad / mouse.</li>
                    	<li>Tested and improved the mobile version. When navigating a shabad there will always be a gap at the top and bottom. This allows you to use muscle memory for going "up" or "down" regardless of where you are in the shabad. If you're at the top, hitting the top 1/3rd will do nothing and the bottom 1/3rd will take you to the next line. Same concept for the last line at the bottom.</li>
                    	<li>Formatting update for the Kobo eReader device. With the new font it should always show the next section coming up. (There is still a bug with very long passages, but those cases are rare. We'll try to fix that in the future.)</li>
                    	<li>Formatting for broadcast pages updated. Gurbani should have no gaps between words now.</li>
                    	<li>Fixed a small bug with the display trying to scroll when reaching the bottom of the navigator.</li>
                	</ul>

                    <li class="expander">16.10.26</li>
                    <ul class="expandable">
                    	<li>Fixed a bug that was causing formatting issues on all lines in display and controller.</li>
                    	<li>Made it so the menubar is visible by default and hidden in fullscreen. You may still hit "alt" on your keyboard to activate the menubar while in fullscreen.</li>
                    	<li>Fixed being able to toggle "Next Line" in settings.</li>
                    	<li>Formatting; Combined "Rahao" with the line before it to save vertical space.</li>
                    	<li>Removed vishraam from controller.</li>
                    	<li>Cleared search results if clearing search query.</li>
                	</ul>

                    <li class="expander">16.10.22</li>
                    <ul class="expandable">
                    	<li>Users can now open a new window for the navigator with Ctrl+N or by opening up the menu bar with alt and going into Window > New Navigator Window.</li>
                    	<li>Navigating back or forward a page has been changed from Alt+Left Arrow & Alt+Right Arrow to Ctrl+Left Arrow & Ctrl+Right Arrow.</li>
                    	<li>History can now be downloaded as a .csv file from the alt menu (Tap alt on your keyboard).</li>
                    	<li>Toggle Line was renamed "Set Main". After setting the main line, it will change to "Toggle Line".</li>
                	</ul>

        			<li class="expander">16.10.18</p></li>
        			<ul class="expandable">
        				<li>Wrapped program in Electron, created an installer for Windows, and implemented an Updater.</li>
        				<li>Program will automatically download updates in the background when connected to the internet. User will be notified of update with a pop-up message. Simply close all windows and restart the program when prompted.</li>
        			</ul>
    			</ul>
			</ul>
        <h2>Features</h2>
        	<p>Search defaults to first letter search. Using a "#" symbol at the start will switch to full word search.</p>
        	<ul>
        		<li>See results as you type them</li>
        		<li>Use blank space characters as wildcards (helps with similar sounds like vismaad and bismaad)</li>
        		<li>Get short results earlier (making those two or three word lines much easier to find)</li>
        	</ul>
        	<p>Shabads:</p>
        	<ul>
        		<li>Each line has it's own key assigned. The first ten are 1, 2, 3, ..., 0. Afterwards, we use Q, W, E, ..., P for the next ten. You'll see that each letter is shifted over a bit from the numbers above them, just add ten to each. Compiled Banis have special use of this, for instance in Asa di Var it will instead go to the related stanza. The 24th (last) stanza of Asa di Var can be accessed with the "F" key.</li>
        		<li>You can tap the spacebar key or click "Set Main" at the bottom to set the line you're currently on as the main line. Tapping the spacebar or clicking "Toggle Line" will automatically move to the first line of the shabad. Now if you want to return to the main line, simply toggle again. If you do it a fourth time, now from the main line, it will smartly return to the next line you want to read.</li>
        	</ul>
        	<!--<p>Power user friendly:</p>
        	<ul>
        		<li>Hotkeys such as ctrl+/ to search
        	<p>History, etc.</p>
        	<!--<p>In comparison to SikhiToTheMax, Shabad OS is:</p>
        	<p>Much faster.</p>
        	<gif>-->
		<h2>Tutorial</h2>
			<p>On first run, you'll be greated with a blank window (display) with a smaller embedded window (navigator) in the bottom right. You can hover over any button for a description in it's titlebar. For instance hover over the second to last icon in the navigator's titlebar. This button will let you minimize the navigator.</p>
			<p>There are many shortcuts available. If you ever want to look up a shortcut, type the question mark (?) key on your keyboard (shift + /). This will bring up a menu showing you the various shortcuts.</p>
			<p>To connect with a mobile device, hover over the titlebar of the display window. This will get you the web address to type into your phone. You can similarly join this address on different laptops, tablets, or even smart TVs. A couple noteworthy addresses include adding "/display" or "/kobo" to the end of the program's address. Example: 192.168.X.XXX:8080/display. You can use this to clone the display. The kobo link can be used on modern E-Ink technologies, similar to the Kindle, as an alternative view to reading the shabad.</p>
    </body>
</html>
{{end}}
