@font-face {
    font-family: 'Gurbani Akhar Heavy';
    src: url('../includes/GurbaniAkhar-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
	color: #212121;
	background-color: #eeeeee;
	font-family: "Roboto", "Segoe UI", "Helvetica", "Arial";
	line-height: 2;
	font-size: 16px;
}
body {
	margin: 3em auto;
	min-width: 33em;
	max-width: 48em;
	background-color: #fafafa;
	padding: 1.5em 1.5em;
}
.card {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/*.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/
h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.666em;
	font-weight: 300;
}
h1 > img { width: 1.5em; height: 1.5em; margin-right: .25em; }
h2 {
	color: #424242;
	font-size: 2.3333em;
	font-weight: normal;
	margin-bottom: 0;
}
p {
	margin: 0;
}
p + p {
	margin-top: 1em;
}
p + ul {
	margin-top: 0;
}
b {
	font-size: .8333em;
	font-weight: 500;
}
a, .link, .expander {
	color: #0d47a1;
	text-decoration: none;
	cursor: pointer;
}
a:hover {text-decoration: underline;}
.withdis, .expandable {display: none;}
.gurbani {font-family: 'Gurbani Akhar Heavy'; font-size: 0.95em;}
