$bg-base: #ffffff;
$fg-less: #424242;
$fg-base: #212121;
$link-base: #0d47a1;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

@font-face {
    font-family: 'Gurbani Akhar Heavy';
    src: url('../includes/GurbaniAkhar-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	color: $fg-base;
	background-color: $bg-base;
	background-image: url('../includes/bg.png');
	background-repeat: no-repeat;
	font-family: "Roboto", "Segoe UI", "Helvetica", "Arial";
	line-height: 2;
	font-size: 20px;
}
body {
	margin: 0;
}
.body {
	margin: 0 auto 3em;
	background: rgba(255,255,255,.2);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 7.5%);
	min-width: 33em;
	max-width: 48em;
	padding: 3em;
}
h1 {
	font-size: 4.666em;
	font-weight: 300;
}

h2 {
	color: $fg-less;
	font-size: 3.333em;
	font-weight: normal;
	margin: 0;
	padding-top: 1em;
}
h3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	> span:last-child {
		color: rgba(0,0,0,.3);
		text-transform: uppercase;
		letter-spacing: 0.25em;
		font-size: 0.75em;
	}
}
p {
	margin: 0;
}
p + p {
	margin-top: 1em;
}
p + ul {
	margin-top: 0;
}
label {
	font-weight: 700;
	&::after {
	    content: " —";
	}
}
 
b {
	font-weight: 700;
}
a, .link, .expander {
	color: rgba($link-base, 0.75);
	text-decoration: none;
	border-bottom: 1px dashed rgba($link-base, .3);
	cursor: pointer;
	path {
		fill: rgba($link-base, 0.75);
	}
	&:hover {
		text-decoration: none;
		color: rgba($link-base, 1);
		border-bottom: 1px solid rgba($link-base, 0.9);
	}
	&:hover path {
		fill: rgba($link-base, 1);
	}
}
.expander {
	border-bottom: 0;

	&:hover {
		border-bottom: 0;
	}
}
a.iconified {
	display: inline-block;
}
ul.changeLog {
	list-style: none;
    padding: 0;
    ul {
		list-style: none;
	    padding: 0 0 0 1.75em;
    }
	li {
		padding-left: 2em;
		&.expander:hover {
			background: rgba(13, 71, 161, 0.2);
		}
		&:before {
			content: '‣';
			padding: 0 .5em 0 0;
			margin-left: -1.35em;
		}
	}
}

.withdis, .expandable {display: none;}
.gurmukhi {font-family: 'Gurbani Akhar Heavy'; font-size: 0.95em;}

div.nav {
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 236, 239, 0.15);
    > div {
	    margin: 0 auto;
	    padding: 0 3em;
		background: linear-gradient(180deg, rgba(255, 208, 213, 1), rgba(255, 208, 213, .875) 100%);
		min-width: 33em;
		max-width: 48em;
	    display: flex;
	    justify-content: space-between;
    }
    > div > div {
	    display: inline-block;
    }
    img {
	    width: 1.25em;
	    vertical-align: text-bottom;
	    opacity: 0.75;
	    margin-right: 0.25em;
    }
    a {
	    color: #303030;
	    font-size: 1.15em;
	    border-bottom: 1px dashed rgba(#303030, .4);
	    &:hover {
		    color: #000;
		    border-bottom: 1px solid rgba(#000, .9);
		    img {
			    opacity: 1;
		    }
	    }
    }
}

div.header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 2.25em 3em 3em;
	h1 {
		margin: 0;
	}
	> img {
		width: 14em;
		height: 14em;
		margin-right: .5em;
	}
}

div.intro {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 4em;
	flex-wrap: wrap;

	> p {
		width: 39%;
		font-size: 1.5em;
		text-align: right;
		font-weight: 300;
	}
}

img#live-search-gif {
	//width: calc(50% - 1em);
}

div.download {
    padding: 4em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	> div {
		width: 33%;
		text-align: center;
	}

	div.download-button {
		border-radius: 2px;
	    padding: .5em 1em;
	    margin-bottom: 0.5em;
	    background: #000;
	    text-align: center;
	    color: #ffeff2;
	    font-size: 1.15em;
	    &:hover {
		    background: mix(#000, #fff, 90%);
		    background: $link-base;
		    color: mix(#ffcc7d, #fff, 20%);
	    }
	    > span {
		    display: inline-block;
	    }
	    > span:first-child {
		    font-weight: 300;
	    }
	}
	div.info {
		font-size: 0.75em;
		color: $fg-less;
	}
	.other-platforms {
		display: flex;
		justify-content: space-between;
		> div > svg {
			width: 2em;
			height: 2em;
		}
		> div.disabled > svg > path {
			fill-opacity: 0.25;
		}
	}
}

.github-octicon {
	position: relative;
	height: 1em;
	width: 1em;
	top: 0.1em;
	margin: 0 .15em;
}


/* left or right half of a 1080p monitor */
@media only screen and (max-width: 950px) {
	.body {
		font-size: 16px;
	}
}

/* iPad and iPad Pro */
@media only screen and (max-device-width: 1024px) {
	.body {
		font-size: 16px;
	}
}

/* smartphones in landscape */
@media only screen and (max-device-width: 150px) {
	html {
		font-size: 16px;
	}
	body {
		width: 100%;
	}
	.body {
		margin: 0;
		padding: 3em 1em;
	}
	h1 {
		line-height: 1.5em;
	}
	h3 {
		margin: 0;
		> span {
			font-size: 1.25em;
			margin: 0.5em 0;
		}
		> span:last-child {
			display: none;
		}
	}
	img#live-search-gif {
		padding: 2em 0;
		width: 100%;
	}
	.github-octicon {
		position: relative;
		height: 1.5em;
		width: 1.5em;
		top: 0.15em;
		margin-right: .2em;
	}
	div.header {
		padding-bottom: 0em;
	}
	div.intro {
		margin-bottom: 1em;
		> p {
			width: 100%;
			text-align: center;
		}
	}
	div.nav {
		position: fixed;
	    width: 100%;
	    top: 0;
	    left: 0;
	    > div {
		    margin: 0 auto;
		    padding: 0 1em;
	    }
	    > div > div {
		    display: inline-block;
		    &:first-child {
			    display: none;
		    }
	    }
	    a {
		    font-size: 1.75em;
	    }
	}
	div.download {
		justify-content: space-between;
		> div {
			width: 45%;
		}
	}
}

/* smartphones in portrait */
@media only screen and (max-device-width: 568px) and (orientation: portrait) {
	html {
		font-size: inherit;
	}
	body {
		font-size: inherit;
		width: 100%;
	}
	.body {
		font-size: inherit;
		margin: 0;
		padding: 3em 1em;
	}
	h1 {
		line-height: 1.5em;
	}
	h3 {
		font-size: 2em;
		margin: 0;
		> span {
			font-size: inherit;
			margin: 0.5em 0;
		}
		> span:last-child {
			display: none;
		}
	}
	p, ul, div.download {
		font-size: 1.5em;
	}
	img#live-search-gif {
		padding: 2em 0;
		width: 100%;
	}
	.github-octicon {
		position: relative;
		height: 1em;
		width: 1em;
		top: 0.15em;
		margin-right: .2em;
	}
	div.header {
		padding-bottom: 0em;
		text-align: center;
		display: block;
	}
	div.intro {
		margin-bottom: 1em;
		> p {
			font-size: 2em;
			width: 100%;
			text-align: center;
		}
	}
	div.nav {
		position: fixed;
	    width: 100%;
	    top: 0;
	    left: 0;
	    > div {
		    margin: 0 auto;
		    padding: 0 1em;
	    }
	    > div > div {
		    display: inline-block;
		    &:first-child {
			    display: none;
		    }
	    }
	    a {
		    font-size: 1.75em;
	    }
	}
	div.download {
		padding: 3em 0;
		> div {
			width: 100%;
			padding: 0 2em 0;
		}
		> div:first-child {
			padding-bottom: 3em;
		}
	}
}

